.btn-content {
  width: 150px; !important
  margin: 5px;
}

.card {
    display: inline-block;
    margin: 10px;
}

.content-card {
  width: 380px;
  height: 160px;
  margin: 10px;
}

.pdf-overview-section {
  max-width: 50%;
  text-align: center;
  padding: auto;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

body {
    margin: 20px;
}

p:not(body > p) {
   display: block;
   text-overflow: ellipsis;
   word-wrap: break-word;
   overflow: hidden;
}

.custom-file-input.selected:lang(en)::after {
  content: "" !important;
}
.custom-file {
  overflow: hidden;
}

.custom-file-input {
  white-space: nowrap;
}